page-empregos {
    h2 {
        font-size: 1.7em !important;
    }

    ion-card {
        background-color: aliceblue !important;
        button {
            margin-top: 10px !important;
        }
    }

}
